body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: rgb(35, 35, 35);
    display: flex;
    flex-direction: row;
}

main {
    flex: 1 1 80%;
    /* height: 100%; */
    opacity: 0;
    animation: fadeInFull 1s ease 0.2s forwards;
}

h1, h2, h3, h4, h5, p, label, li, select, td, th, span, input, button {
    color: white;
    font-family: 'Open Sans';
    width: fit-content;
}

ul {
    width: fit-content;
    padding-left: 16px;
}

select, input {
    background-color: #c9c9c92e;
    border: 1px solid #a9a9b86e;
    border-radius: 5px;
    padding: 2px 0 2px 4px;
    /* background: rgb(100, 100, 100); */
    font-size: 1.2em;
}

button {
    border-color: #c9c9c926;
    border-radius: 4px;
    background-color: #c9c9c92e;
    cursor: pointer;
    min-width: 70px;
    transition: all 0.2s ease;
}

button:hover {
    background-color: #9191919f;
}

table {
    border: 1px rgba(83, 83, 83, 0.3);
    border-radius: 4px;
    background-color: rgba(19, 19, 19, 0.15);
}

td, th {
    font-size: 1.7em;
    width: 90px;
    box-sizing: border-box;
    border: 1px solid #323232a1;
    text-align: center;
}

th {
    animation: breathingColor 5s infinite ease;
}

td.xs {
    font-size: 1.3em;
}

/* Overall Frame look */
main > .frame, main > div > .frame {
    display: flex;
    background-color: rgba(97, 97, 97, 0.05);
    margin: 5px 0px;
    padding: 5px 15px;
    border: 1px solid #9393932e;
    border-radius: 4px;
    width: 97%;
    box-sizing: border-box;
}

main > .frame > * {
    margin: 7px;
}

/* Overall Chart look */
.chart table {
    table-layout: fixed;
    border-collapse: collapse;
    transform: translateY(-8%);
}

.chart table tr:first-child td {
    border: none;
}

.chart table td:first-child {
    border-left: none;
}

.chart table td.top {
    border: 1px solid rgba(255, 255, 255, 0);
    border-bottom: 1px solid #323232a1;
    background-color: rgba(97, 97, 97, 0.05);
}

.chart table td {
    width: min-content;
    height: min-content;
}

.chart table td .cell {
    width: 40px;
    height: 40px;
    display: flex;
}

.chart table td .cell p {
    font-size: 0.5em;
    top: 50%;
    left: 50%;
    position: absolute;
    margin: 0;
    transform: translate(-50%, -50%);
    line-height: 149%;
}

.chart table td .cell.highlight {
    transform: translateY(50%);
}

.chart table td .cell.highlight p {
    border: 1px solid white;
    border-radius: 50%;
    width: 60%;
    height: 60%;
    background-color: #3f45504f;
}

/* Overall Fretboard look */
#fretboard {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#fretboard table {
    width: 100%;
    table-layout: fixed;
}

#fretboard table thead tr td {
    background-color: #505050a1;
    border: 1px solid #8282825c;
    border-radius: 4px;
}

#fretboard table tr td {
    font-size: 1.4em;
    width: 8.33%;
}

#fretboard table tbody tr td.highlight {
background-color: #91858512;
  border: 1px solid #afa9a9ba;
}