/* Animations */
@keyframes fadeIn {
    0% {
        opacity: 0%;
    }
    90% {
        opacity: 100%;
    }
    100% {
        opacity: 85%;
    }
}

@keyframes fadeInFull {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

@keyframes underline {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

@keyframes breathingColor {
    0% {
        border-bottom-color: #323232a1;
    }

    50% {
        border-bottom-color: rgba(255, 255, 255, 0.192);
    }

    100% {
        border-bottom-color: #323232a1;
    }
}