/* Exercises Page */
main {
    padding-top: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Search */
main .search {
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

main .search #name {
    width: 30%;
}

main .search #name input {
    width: 100%;
}

/* Exercises */
main .exercises {
    flex: 1 1 auto;
    flex-direction: column;
    align-items: center;
}

main .exercises .item {
    display: flex;
    flex-direction: row;
    height: 44px;
    width: 96%;
    padding: 5px 8px;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    border-radius: 2px;
    border: 1px solid #84848442;
    background-color: #3f3f3f42;
    cursor: pointer;
    transition: all 0.2s ease;
}

main .exercises .item:hover {
    border-color: #84848475;
    background-color: #3f3f3f96;
}

main .exercises .item:hover h4 {
    transform: translateX(15px);
}

main .exercises .item h3 {
    margin: 5px;
}

main .exercises .item h4 {
    opacity: 0.7;
    margin: 0;
    width: 20%;
    text-transform: uppercase;
    font-style: italic;
    font-size: 0.9em;
    border-left: 1px solid rgb(138, 138, 138);
    padding-left: 15px;
    transition: all 0.2s ease-out;
}

/* View */
#view {
    opacity: 0;
    pointer-events: none;
    z-index: 2;
    background-color: rgb(37, 37, 37);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;
    transition: all 0.3s ease-in;
}

#view.visible {
    opacity: 1;
    pointer-events: all;
}

#view .back-btn {
    z-index: 3;
    opacity: 0.7;
    position: absolute;
    top: 1%;
    right: 1%;
    border: 1px solid rgba(255, 255, 255, 0.199);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    transition: all 0.3s;
    cursor: pointer;
}

#view .back-btn:hover {
    opacity: 0.9;
    border: 1px solid rgba(112, 17, 17, 0.301);
    background-color: #50353538;
}

#view .back-btn img {
    opacity: 0.4;
    height: 32px;
    filter: invert(1);
    margin: 7px;
}

#view .tab-container {
    height: 100%;
    display: flex;
}

#view .tab-viewport {
    flex: 1;
    overflow-y: auto;
    position: relative;
}

#view .tab-main {
    min-height: 100%;
    padding-top: 80px;
    padding-bottom: 80px;
}

#view .tab-control {
    opacity: 30%;
    z-index: 2;
    position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translateX(-50%) scale(1);
    width: fit-content;
    gap: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(110, 110, 110, 0.452);
    padding: 10px;
    background-color: #06060629;
    border-radius: 4px;
    backdrop-filter: blur(4px);
    transition: all 0.2s ease-in-out;
}

#view .tab-control:hover {
    opacity: 96%;
    transform: translateX(-50%) scale(1.4);
}

/* Playbar visible */
.at-cursor-beat {
    background-color: rgba(255, 255, 255, 0.651);
}

.tab-container text {
    fill: rgba(218, 218, 218, 0.849) !important;
}