{% extends "_base.html" %}

<!-- Title -->
{% block title %}MyGuitar - Accords{% endblock %}

<!-- CSS -->
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/accords.css') }}">
{% endblock %}

<!-- JS -->
{% block js %}
<script src="{{ url_for('static', filename='js/api.js') }}"></script>
<script src="{{ url_for('static', filename='js/accords.js') }}"></script>
{% endblock %}

<!-- Content -->
{% block content %}
    <main>
        <!-- Search -->
        <div class="search-frame frame">

        </div>

        <!-- View -->
        <div class="view-frame frame">

        </div>
    </main>
{% endblock %}
