<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Default Title{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/_base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/_header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/_typo.css') }}">
    {% block css %}{% endblock %}
</head>
<body>
    {% include "header.html" %}

    <div id="background">
        <img src="{{ url_for('static', filename='images/background.jpg') }}" alt="music-background">
    </div>

    {% block content %}
    <p>
        Default content
    </p>
    {% endblock %}

    {% block js %}{% endblock %}
</body>
</html>