{% extends "_base.html" %}

<!-- Title -->
{% block title %}MyGuitar - Gamme{% endblock %}

<!-- CSS -->
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/gamme.css') }}">
{% endblock %}

<!-- JS -->
{% block js %}
<script src="{{ url_for('static', filename='js/api.js') }}"></script>
<script src="{{ url_for('static', filename='js/music.js') }}"></script>
<script src="{{ url_for('static', filename='js/gamme.js') }}"></script>
{% endblock %}

<!-- Content -->
{% block content %}
    <main>
        <!-- Control Panel -->
        <div class="frame p1">
            <!-- Gamme -->
            <div class="field">
                <!-- <label for="gamme">Mode (Gamme) :</label> -->
                <select name="gamme" id="gamme">
                    <option value="ionien">Majeur (Ionien)</option>
                    <option value="aeolien">Mineur (Aéolien)</option>
                </select>
            </div>

            <!-- Note -->
            <div class="field">
                <!-- <label for="note">Fondamentale :</label> -->
                <select name="note" id="note">
                    <option value="Do">Do</option>
                    <option value="Do#">Do ♯</option>
                    <option value="Dob">Do ♭</option>
                    <option value="Ré">Ré</option>
                    <option value="Ré#">Ré ♯</option>
                    <option value="Réb">Ré ♭</option>
                    <option value="Mi">Mi</option>
                    <option value="Mi#">Mi ♯</option>
                    <option value="Mib">Mi ♭</option>
                    <option value="Fa">Fa</option>
                    <option value="Fa#">Fa ♯</option>
                    <option value="Fab">Fa ♭</option>
                    <option value="Sol">Sol</option>
                    <option value="Sol#">Sol ♯</option>
                    <option value="Solb">Sol ♭</option>
                    <option value="La">La</option>
                    <option value="La#">La ♯</option>
                    <option value="Lab">La ♭</option>
                    <option value="Si">Si</option>
                    <option value="Si#">Si ♯</option>
                    <option value="Sib">Si ♭</option>
                </select>
            </div>

            <!-- Gamme Relative -->
            <div class="field">
                <button onclick="goRelativeKey()">Gamme Relative</button>
            </div>

        </div>

        <!-- Output Panel -->
        <div class="frame p2">
            <!-- Architecture -->
            <div class="architecture">
                <table>
                    <!-- JS Handling -->
                </table>
            </div>

            <!-- Chords -->
            <div class="chords">
                <div class="list">
                    <div class="options">
                        <!-- Chords list -->
                        <div data-val="Majeur" class="item selected">
                            <h4>Maj</h4>
                        </div>
                        <div data-val="Mineur" class="item selected">
                            <h4>Min</h4>
                        </div>
                        <div data-val="Dim" class="item selected">
                            <h4>Dim</h4>
                        </div>
                        <div data-val="Triad" class="item">
                            <h4>Triad</h4>
                        </div>

                        <div data-val="6th" class="item">
                            <h4>6<sup>ème</sup></h4>
                        </div>
                        <div data-val="7th" class="item">
                            <h4>7<sup>ème</sup></h4>
                        </div>
                        <div data-val="9th" class="item">
                            <h4>9<sup>ème</sup></h4>
                        </div>
                        <div data-val="Sus" class="item">
                            <h4>Sus</h4>
                        </div>
                        <div data-val="Pow" class="item">
                            <h4>Pow</h4>
                        </div>

                    </div>
                    <div class="container"></div>
                </div>

                <div class="chart">
                    <div class="wrapper">
                        <div class="img-wrap disabled" id='prev-chart'>
                            <img src="{{ url_for('static', filename='images/ui/left_arrow.png' )}}" alt="previous-icon">
                        </div>
                        <span class="number"></span>
                        <div class="img-wrap" id='next-chart'>
                            <img style="transform: rotate(180deg);" src="{{ url_for('static', filename='images/ui/left_arrow.png' )}}" alt="next-icon">
                        </div>
                    </div>
                    <div class="container"></div>
                    <h3 class="name"></h3>
                    <div class="infos">
                        <h4 class="kind"></h4>
                        <h4 class="feeling"></h4>
                        <div class="structure"></div>
                    </div>
                </div>

            </div>
        </div>

        <!-- Fretboard -->
        <div class="frame p3">
            <div id="fretboard">
                <!-- JS Handling -->
            </div>
        </div>

    </main>
{% endblock %}