{% extends "_base.html" %}

<!-- Title -->
{% block title %}MyGuitar{% endblock %}

<!-- CSS -->
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock %}

<!-- Content -->
{% block content %}
    <main>
        <!-- Title -->
        <div class="title-box">
            <h1>MyGuitar</h1>
            <label for="version">v0.1</label>
        </div>

        <div class="wrapper">
            <!-- 0.3 -->
            <div class="frame">
                <h2>v0.3</h2>
                <ul>
                    <li>Ajout de nouveaux accords : Power Chords, Triades, Diminués</li>
                    <li>Ajout d'un nouvel exercice : Triades de La Maj</li>
                    <li>Correction de bugs</li>
                </ul>
            </div>

            <!-- 0.2 -->
            <div class="frame">
                <h2>v0.2</h2>
                <ul>
                    <li>Page "Exercices" : ajout d'un contrôle de la vitesse</li>
                    <li>Correction de bugs</li>
                </ul>
            </div>

            <!-- 0.1 -->
            <div class="frame">
                <h2>v0.1</h2>
                <ul>
                    <li>Nouvelle page "Gamme"</li>
                    <li>Nouvelle page "Exercices"</li>
                    <li>Nouvelle page "Accords"</li>
                    <li>Nouvelle page "Tablatures"</li>
                    <li>Page "Cours" en développement</li>
                </ul>
            </div>
        </div>

    </main>
{% endblock %}

<!-- JS -->
{% block js %}
{% endblock %}