{% extends "_base.html" %}

<!-- Title -->
{% block title %}MyGuitar{% endblock %}

<!-- CSS -->
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock %}

<!-- Content -->
{% block content %}
    <main>
        <!-- Title -->
        <div class="title-box">
            <h1>MyGuitar</h1>
            <!-- 0.7 -->
            <label for="version">v0.7</label>
        </div>

        <div class="wrapper">
            <!-- 0.7 -->
            <div class="frame">
                <h2>v0.6</h2>
                <ul>
                    <li>Affichage compatible iPad (10th Gen)</li>
                    <li>Page "Exercices" : ajout d'un bouton play/pause</li>
                    <li>Correction de bugs</li>
                </ul>
            </div>

            <!-- 0.6 -->
            <div class="frame">
                <h2>v0.6</h2>
                <ul>
                    <li>Ajout des accords Add9 et Add11</li>
                    <li>Modifications des exercices disponibles</li>
                    <li>Premier cours en phase rédaction</li>
                </ul>
            </div>

            <!-- 0.5 -->
            <div class="frame">
                <h2>v0.5</h2>
                <ul>
                    <li>Page "Gamme" & "Accords" : En-tête du manche modifiée</li>
                    <li>Nouvelle page "Cours"</li>
                    <li>Correction de bugs</li>
                </ul>
            </div>

            <!-- 0.4 -->
            <div class="frame">
                <h2>v0.4</h2>
                <ul>
                    <li>Page "Gamme" : Modification de la taille du manche (de 12 à 14 frets)</li>
                    <li>Page "Gamme" : Ajout d'un bouton "Gamme Relative"</li>
                    <li>Correction de bugs</li>
                </ul>
            </div>

            <!-- 0.3 -->
            <div class="frame">
                <h2>v0.3</h2>
                <ul>
                    <li>Ajout de nouveaux accords : Power Chords, Triades, Diminués</li>
                    <li>Ajout d'un nouvel exercice : Triades de La Maj</li>
                    <li>Correction de bugs</li>
                </ul>
            </div>

            <!-- 0.2 -->
            <div class="frame">
                <h2>v0.2</h2>
                <ul>
                    <li>Page "Exercices" : ajout d'un contrôle de la vitesse</li>
                    <li>Correction de bugs</li>
                </ul>
            </div>

            <!-- 0.1 -->
            <div class="frame">
                <h2>v0.1</h2>
                <ul>
                    <li>Nouvelle page "Gamme"</li>
                    <li>Nouvelle page "Exercices"</li>
                    <li>Nouvelle page "Accords"</li>
                    <li>Nouvelle page "Tablatures"</li>
                    <li>Page "Cours" en développement</li>
                </ul>
            </div>
        </div>

    </main>
{% endblock %}

<!-- JS -->
{% block js %}
{% endblock %}